In [11]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
data = pd.read_csv('NSE-TATAGLOBAL.txt', low_memory=False)

In [12]:
data.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2018-09-28,234.05,235.95,230.20,233.50,233.75,3069914,7162.35
1,2018-09-27,234.55,236.80,231.10,233.80,233.25,5082859,11859.95
2,2018-09-26,240.00,240.00,232.50,235.00,234.25,2240909,5248.60
3,2018-09-25,233.30,236.75,232.00,236.25,236.10,2349368,5503.90
4,2018-09-24,233.55,239.20,230.75,234.00,233.30,3423509,7999.55

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2035 entries, 0 to 2034
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  2035 non-null   object
 1   Open                  2035 non-null   float64
 2   High                  2035 non-null   float64
 3   Low                   2035 non-null   float64
 4   Last                  2035 non-null   float64
 5   Close                 2035 non-null   float64
 6   Total Trade Quantity  2035 non-null   int64
 7   Turnover (Lacs)       2035 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 127.3+ KB

In [14]:
data.shape

(2035, 8)

In [16]:
data.isnull().sum()

Date                    0
Open                    0
High                    0
Low                     0
Last                    0
Close                   0
Total Trade Quantity    0
Turnover (Lacs)         0
dtype: int64

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure(1)
plt.title("Closing time over the years", fontsize='16')
plt.plot(data['Date'],data.Close)
plt.xlabel("year",fontsize='13')
plt.ylabel("close",fontsize='13')
plt.grid()
plt.show()

In [24]:
data1=data.reset_index()['Close']
data1.info

AttributeError: 'Series' object has no attribute 'info'

In [ ]:
dataf=[[data1.]]